Repository gino20/resume: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --single-quote --trailing-comma es5 --parse flow --write, tslint, prettier --single-quote --trailing-comma es5 --parser typescript --write, stylefmt

.lintstagedrc:

---
"*.{js, jsx},!dist/*.js":
  - "prettier --single-quote --trailing-comma es5 --parse flow --write"
  - "tslint"
  - "git add"
"*.{ts,tsx}":
  - "prettier --single-quote --trailing-comma es5 --parser typescript --write"
  - "git add"
"*.css":
  - "stylefmt"
  - "git add"

feat: update resume
  package.json
  rollup.config.js
  src/components/Career.vue
  src/components/Contact.vue
  src/components/Education.vue
  src/components/Profile.vue
  src/components/Skill.vue
  src/components/aside.vue
  src/components/header.vue
  src/constants.js
  src/containers/App.vue
  src/containers/Resume.vue
  src/containers/app.vue
  src/main.ts
  src/svg/book.svg
  src/svg/code.svg
  src/svg/envelope.svg
  src/svg/github.svg
  src/svg/laptop.svg
  src/svg/map-marker.svg
  src/svg/phone.svg
  yarn.lock
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

refactor: update resume
  src/components/Career.vue
  src/components/Contact.vue
  src/components/Education.vue
  src/components/Profile.vue
  src/components/Skill.vue
  src/constants.js
  src/containers/Resume.vue
  src/svg/book.svg
  src/svg/github.svg
  src/svg/laptop.svg
Due: none

refactor: update dist files
  .gitignore
  dist/bundle.css
  dist/bundle.js
  index.html
  package.json
  rollup.config.js
  yarn.lock
Due: stylefmt

fix: fix compile issue of typescript
  dist/bundle.js
  rollup.config.js
  src/components/Career.vue
  src/components/Contact.vue
  src/components/Education.vue
  src/components/Profile.vue
  src/components/Skill.vue
  src/constants.ts
  src/containers/Resume.vue
  tsconfig.json
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: fix template string in vue
  dist/bundle.js
  src/components/Education.vue
Due: none

feat: add resume's link
  dist/bundle.css
  dist/bundle.js
  src/components/Contact.vue
  src/constants.ts
  src/containers/App.vue
  src/svg/external-link.svg
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write, stylefmt

style: update style
  dist/bundle.css
  dist/bundle.js
  src/components/Career.vue
  src/components/Contact.vue
  src/components/Education.vue
  src/components/Heading.vue
  src/components/Skill.vue
  src/constants.ts
  src/containers/App.vue
  src/containers/Resume.vue
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write, stylefmt

fix: fix capital
  src/constants.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: fix capital
  dist/bundle.js
  src/constants.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: update resume
  .gitignore
  dist/bundle.css
  dist/bundle.js
  src/components/Career.vue
  src/components/Skill.vue
  src/constants.ts
  src/svg/pencil.svg
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write, stylefmt

feat: add brief
  .gitignore
  dist/bundle.css
  dist/bundle.js
  dist/bundle.js.map
  src/components/Brief.vue
  src/components/Education.vue
  src/constants.ts
  src/containers/Resume.vue
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write, stylefmt

chore: update gitignore
  .gitignore
Due: none

fix: subtree commit
  dist/css/app.cbd0c9e4.css
  dist/css/chunk-7ab2facc.b2f058cf.css
  dist/favicon.ico
  dist/index.html
  dist/js/app.20f4ddbf.js
  dist/js/app.20f4ddbf.js.map
  dist/js/chunk-7ab2facc.3c821977.js
  dist/js/chunk-7ab2facc.3c821977.js.map
  dist/js/chunk-vendors.2493f8d1.js
  dist/js/chunk-vendors.2493f8d1.js.map
Due: stylefmt

fix: update router
  src/router.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: update npm script
  package.json
Due: none

feat: update dist
  dist/index.html
  dist/js/app.20f4ddbf.js
  dist/js/app.20f4ddbf.js.map
  dist/js/app.75ed3fd6.js
  dist/js/app.75ed3fd6.js.map
Due: none

chore: fix publicPath in vue config
  vue.config.js
Due: none

feat: update dist
  dist/index.html
  dist/js/app.75ed3fd6.js
  dist/js/app.75ed3fd6.js.map
  dist/js/app.da251c17.js
  dist/js/app.da251c17.js.map
Due: none

fix: udpate vue config
  bin/deploy.sh
  vue.config.js
Due: none

fix: disable history mode of router
  src/router.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: remove dist files
  bin/deploy.sh
  dist/css/app.cbd0c9e4.css
  dist/css/chunk-7ab2facc.b2f058cf.css
  dist/favicon.ico
  dist/index.html
  dist/js/app.da251c17.js
  dist/js/app.da251c17.js.map
  dist/js/chunk-7ab2facc.3c821977.js
  dist/js/chunk-7ab2facc.3c821977.js.map
  dist/js/chunk-vendors.2493f8d1.js
  dist/js/chunk-vendors.2493f8d1.js.map
Due: stylefmt

fix: update resume
  package.json
  src/components/Career.vue
  src/components/Contact.vue
  src/components/Profile.vue
  src/constants.ts
  vue.config.js
  yarn.lock
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: update resume
  bin/deploy.sh
  src/constants.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: update career
  src/constants.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: update style
  src/components/Career.vue
Due: none

fix: udpate resume
  src/constants.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: update resume
  src/constants.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

fix: update resume
  dist/css/app.cbd0c9e4.css
  dist/css/chunk-c69af06a.46f8a3e9.css
  dist/favicon.ico
  dist/img/book.f563cccf.svg
  dist/img/envelope.b11aa249.svg
  dist/img/external-link.93548ee7.svg
  dist/img/github.2fe259f7.svg
  dist/img/laptop.ced51b63.svg
  dist/img/map-marker.3428c198.svg
  dist/img/pencil.55483e93.svg
  dist/img/phone.5aa9ba14.svg
  dist/index.html
  dist/js/app.91054168.js
  dist/js/app.91054168.js.map
  dist/js/chunk-c69af06a.e187ca37.js
  dist/js/chunk-c69af06a.e187ca37.js.map
  dist/js/chunk-vendors.2493f8d1.js
  dist/js/chunk-vendors.2493f8d1.js.map
Due: stylefmt

fix: fix url
  src/constants.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

feat: update resume
  index.html
  js/app.3cd1944c.js
  js/app.3cd1944c.js.map
  js/app.91054168.js
  js/app.91054168.js.map
  js/chunk-c69af06a.4124dc39.js
  js/chunk-c69af06a.4124dc39.js.map
  js/chunk-c69af06a.e187ca37.js
  js/chunk-c69af06a.e187ca37.js.map
Due: none

feat: update resume
  dist/index.html
  dist/js/app.3cd1944c.js
  dist/js/app.3cd1944c.js.map
  dist/js/app.91054168.js
  dist/js/app.91054168.js.map
  dist/js/chunk-c69af06a.4124dc39.js
  dist/js/chunk-c69af06a.4124dc39.js.map
  dist/js/chunk-c69af06a.e187ca37.js
  dist/js/chunk-c69af06a.e187ca37.js.map
Due: none

fix: fix syntax
  src/constants.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

feat: update resume
  dist/index.html
  dist/js/app.3cd1944c.js
  dist/js/app.3cd1944c.js.map
  dist/js/app.6ac5752f.js
  dist/js/app.6ac5752f.js.map
  dist/js/chunk-c69af06a.187391f5.js
  dist/js/chunk-c69af06a.187391f5.js.map
  dist/js/chunk-c69af06a.4124dc39.js
  dist/js/chunk-c69af06a.4124dc39.js.map
Due: none

feat: update resume
  index.html
  js/app.3cd1944c.js
  js/app.3cd1944c.js.map
  js/app.6ac5752f.js
  js/app.6ac5752f.js.map
  js/chunk-c69af06a.187391f5.js
  js/chunk-c69af06a.187391f5.js.map
  js/chunk-c69af06a.4124dc39.js
  js/chunk-c69af06a.4124dc39.js.map
Due: none

feat: update resume
  dist/index.html
  dist/js/app.6ac5752f.js
  dist/js/app.6ac5752f.js.map
  dist/js/app.c28091c0.js
  dist/js/app.c28091c0.js.map
  dist/js/chunk-c69af06a.187391f5.js
  dist/js/chunk-c69af06a.187391f5.js.map
  dist/js/chunk-c69af06a.aa53c336.js
  dist/js/chunk-c69af06a.aa53c336.js.map
  src/constants.ts
Due: prettier --single-quote --trailing-comma es5 --parser typescript --write

feat: update resume
  index.html
  js/app.6ac5752f.js
  js/app.6ac5752f.js.map
  js/app.c28091c0.js
  js/app.c28091c0.js.map
  js/chunk-c69af06a.187391f5.js
  js/chunk-c69af06a.187391f5.js.map
  js/chunk-c69af06a.aa53c336.js
  js/chunk-c69af06a.aa53c336.js.map
Due: none

fix: update resume
  css/chunk-c69af06a.2bc8bc07.css
  index.html
  js/app.53b6584b.js
  js/app.53b6584b.js.map
  js/app.c28091c0.js
  js/app.c28091c0.js.map
  js/chunk-c69af06a.aa53c336.js
  js/chunk-c69af06a.aa53c336.js.map
  js/chunk-c69af06a.cfbea663.js
  js/chunk-c69af06a.cfbea663.js.map
Due: stylefmt
